{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
                alt="general's room">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">General's Quarter</h1>
            <p class="text-center">Your home away from home set on majestic wave of the Indian Ocean, this will be
                vacation
                to remember
                Your home away from home set on majestic wave of the Indian Ocean, this will be vacation to remember
                Your home away from home set on majestic wave of the Indian Ocean, this will be vacation to remember
                Your home away from home set on majestic wave of the Indian Ocean, this will be vacation to remember
                Your home away from home set on majestic wave of the Indian Ocean, this will be vacation to remember
                Your home away from home set on majestic wave of the Indian Ocean, this will be vacation to remember
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>

{{end}}


{{define "js"}}
<script src="/static/scripts/generals.js"></script>

{{end}}